.main {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  position: relative;
  margin: 20px;

  .remoteVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #F3F2F1;
  }

  .cameraOff {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &:before {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='32' viewBox='0 0 34 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6997 24.416L5.13301 8.84935L2.19967 5.99935L1.99967 5.66602C1.48281 6.12822 1.06773 6.69287 0.78081 7.32411C0.493886 7.95534 0.341389 8.63935 0.333008 9.33268V22.666C0.333008 23.9921 0.859792 25.2639 1.79747 26.2015C2.73516 27.1392 4.00693 27.666 5.33301 27.666H20.333C21.3198 27.6677 22.2841 27.3715 23.0997 26.816L20.6997 24.416Z' fill='%23A19F9D'/%3E%3Cpath d='M31.9998 7.91634C31.4934 7.68834 30.9312 7.61417 30.383 7.70307C29.8348 7.79196 29.3249 8.04 28.9165 8.41634L25.3331 11.7497V9.33301C25.3331 8.00693 24.8064 6.73516 23.8687 5.79747C22.931 4.85979 21.6592 4.33301 20.3331 4.33301H10.0498L12.1998 6.48301L23.1831 17.4663L26.5165 20.7997L29.8498 24.133C30.1696 24.2529 30.5082 24.3149 30.8498 24.3163C31.2465 24.3154 31.6385 24.2302 31.9998 24.0663C32.4914 23.8675 32.9125 23.5266 33.2094 23.0872C33.5063 22.6479 33.6654 22.1299 33.6665 21.5997V10.383C33.6654 9.85274 33.5063 9.33483 33.2094 8.89546C32.9125 8.45608 32.4914 8.11519 31.9998 7.91634Z' fill='%23A19F9D'/%3E%3Cpath d='M25.3333 21.9833L22 18.65L11.0167 7.66665L7.68332 4.33332L4.84998 1.48332C4.69459 1.32792 4.5101 1.20465 4.30707 1.12055C4.10403 1.03645 3.88642 0.993164 3.66665 0.993164C3.44688 0.993164 3.22927 1.03645 3.02623 1.12055C2.8232 1.20465 2.63871 1.32792 2.48332 1.48332C2.16948 1.79716 1.99316 2.22281 1.99316 2.66665C1.99316 3.11049 2.16948 3.53614 2.48332 3.84998L3.38332 4.73332L6.31665 7.66665L21.8833 23.2333L24.3167 25.6666L29.15 30.5166C29.3049 30.6729 29.4893 30.7969 29.6924 30.8815C29.8955 30.9661 30.1133 31.0096 30.3333 31.0096C30.5533 31.0096 30.7712 30.9661 30.9743 30.8815C31.1774 30.7969 31.3617 30.6729 31.5166 30.5166C31.6729 30.3617 31.7969 30.1774 31.8815 29.9743C31.9661 29.7712 32.0096 29.5533 32.0096 29.3333C32.0096 29.1133 31.9661 28.8955 31.8815 28.6924C31.7969 28.4893 31.6729 28.3049 31.5166 28.15L25.3333 21.9833Z' fill='%23A19F9D'/%3E%3C/svg%3E%0A");
        content: "";
        width: 30px;
        height: 30px;
        position: relative;
        padding-bottom: 20px;
      }
    }
  }

  .left {
    width: 60%;
    display: flex;
    flex: 1;
    position: relative;

    .cameraOff {
      position: absolute;
      z-index: 1;
    }
  }
  .video {
    width: 100%;
    position: relative;

    .controls {
      position: absolute;
      //width: 100%;
      display: flex;
      justify-content: center;
      bottom: 20px;
      background: white;
      width: 192px;
      height: 70px;
      left: 0;
      margin: auto;
      right: 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      button {
        border: none;
        background: none;
        width: 50%;
        padding-top: 30px;
        position: relative;
        cursor: pointer;

        i {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center 20%;
          background-size: 30%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      

      .mute {
        &.muted {
          i {
            background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1768 14.8752C18.4931 14.2407 18.6606 13.5425 18.6668 12.8335V7.0002C18.6539 5.84777 18.215 4.74086 17.4346 3.89272C16.6543 3.04458 15.5877 2.51519 14.4403 2.40654C13.293 2.29788 12.146 2.61765 11.2203 3.30424C10.2946 3.99083 9.65575 4.99567 9.42676 6.1252' fill='%233B3A39'/%3E%3Cpath d='M22.1671 12.8337C22.1671 12.5242 22.0442 12.2275 21.8254 12.0087C21.6066 11.7899 21.3099 11.667 21.0005 11.667C20.6911 11.667 20.3943 11.7899 20.1755 12.0087C19.9567 12.2275 19.8338 12.5242 19.8338 12.8337C19.8304 13.8529 19.5523 14.8524 19.0288 15.727L20.7438 17.5003C21.6827 16.1261 22.1793 14.4979 22.1671 12.8337Z' fill='%233B3A39'/%3E%3Cpath d='M14.0002 17.4998H14.1868L9.3335 12.6348V12.8331C9.3335 14.0708 9.82516 15.2578 10.7003 16.1329C11.5755 17.0081 12.7625 17.4998 14.0002 17.4998Z' fill='%233B3A39'/%3E%3Cpath d='M24.162 22.5049L5.49538 3.83822C5.3866 3.72945 5.25746 3.64316 5.11534 3.58429C4.97321 3.52542 4.82088 3.49512 4.66705 3.49512C4.51321 3.49512 4.36088 3.52542 4.21876 3.58429C4.07663 3.64316 3.94749 3.72945 3.83871 3.83822C3.61902 4.05791 3.49561 4.35587 3.49561 4.66656C3.49561 4.97724 3.61902 5.2752 3.83871 5.49489L22.5054 24.1616C22.6138 24.2709 22.7429 24.3577 22.885 24.4169C23.0272 24.4762 23.1797 24.5067 23.3337 24.5067C23.4877 24.5067 23.6402 24.4762 23.7824 24.4169C23.9246 24.3577 24.0536 24.2709 24.162 24.1616C24.2714 24.0531 24.3582 23.9241 24.4174 23.7819C24.4766 23.6397 24.5071 23.4872 24.5071 23.3332C24.5071 23.1792 24.4766 23.0267 24.4174 22.8846C24.3582 22.7424 24.2714 22.6133 24.162 22.5049Z' fill='%233B3A39'/%3E%3Cpath d='M17.5002 23.3337H15.1668V20.907C15.827 20.8151 16.4735 20.6427 17.0918 20.3937L15.2252 18.527C14.8236 18.6209 14.4125 18.6679 14.0002 18.667C12.4531 18.667 10.9693 18.0524 9.87537 16.9584C8.78141 15.8645 8.16683 14.3808 8.16683 12.8337C8.16683 12.5242 8.04391 12.2275 7.82512 12.0087C7.60633 11.7899 7.30958 11.667 7.00016 11.667C6.69074 11.667 6.394 11.7899 6.17521 12.0087C5.95641 12.2275 5.8335 12.5242 5.8335 12.8337C5.8358 14.7958 6.54447 16.6915 7.82987 18.174C9.11527 19.6565 10.8915 20.6267 12.8335 20.907V23.3337H10.5002C10.1907 23.3337 9.894 23.4566 9.6752 23.6754C9.45641 23.8942 9.3335 24.1909 9.3335 24.5003C9.3335 24.8097 9.45641 25.1065 9.6752 25.3253C9.894 25.5441 10.1907 25.667 10.5002 25.667H17.5002C17.8096 25.667 18.1063 25.5441 18.3251 25.3253C18.5439 25.1065 18.6668 24.8097 18.6668 24.5003C18.6668 24.1909 18.5439 23.8942 18.3251 23.6754C18.1063 23.4566 17.8096 23.3337 17.5002 23.3337Z' fill='%233B3A39'/%3E%3C/svg%3E%0A");
          }
        }
      }
      .camera {
        &.off {
          i {
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1823 20.6016L5.8965 9.31573L3.76984 7.24948L3.62484 7.00781C3.25011 7.34291 2.94918 7.75229 2.74116 8.20993C2.53314 8.66757 2.42258 9.16348 2.4165 9.66615V19.3328C2.4165 20.2942 2.79842 21.2163 3.47824 21.8961C4.15806 22.5759 5.08009 22.9578 6.0415 22.9578H16.9165C17.6319 22.959 18.331 22.7443 18.9223 22.3416L17.1823 20.6016Z' fill='%233B3A39'/%3E%3Cpath d='M25.3747 8.63893C25.0076 8.47363 24.5999 8.41986 24.2025 8.48431C23.8051 8.54876 23.4353 8.72858 23.1393 9.00143L20.5414 11.4181V9.66602C20.5414 8.70461 20.1594 7.78257 19.4796 7.10275C18.7998 6.42293 17.8778 6.04102 16.9164 6.04102H9.46094L11.0197 7.59977L18.9826 15.5627L21.3993 17.9793L23.8159 20.396C24.0478 20.4829 24.2933 20.5279 24.5409 20.5289C24.8286 20.5283 25.1127 20.4665 25.3747 20.3477C25.7311 20.2035 26.0364 19.9564 26.2516 19.6378C26.4669 19.3193 26.5822 18.9438 26.583 18.5593V10.4273C26.5822 10.0428 26.4669 9.66734 26.2516 9.34879C26.0364 9.03024 25.7311 8.7831 25.3747 8.63893Z' fill='%233B3A39'/%3E%3Cpath d='M20.5417 18.838L18.1251 16.4213L10.1621 8.45839L7.74548 6.04173L5.69131 3.97548C5.57865 3.86281 5.4449 3.77345 5.2977 3.71247C5.15049 3.6515 4.99272 3.62012 4.83339 3.62012C4.67406 3.62012 4.5163 3.6515 4.36909 3.71247C4.22189 3.77345 4.08814 3.86281 3.97548 3.97548C3.74794 4.20301 3.62012 4.51161 3.62012 4.83339C3.62012 5.15518 3.74794 5.46378 3.97548 5.69131L4.62798 6.33173L6.75464 8.45839L18.0405 19.7442L19.8046 21.5084L23.3088 25.0246C23.4211 25.1379 23.5548 25.2278 23.702 25.2891C23.8493 25.3505 24.0072 25.3821 24.1667 25.3821C24.3262 25.3821 24.4842 25.3505 24.6314 25.2891C24.7787 25.2278 24.9123 25.1379 25.0246 25.0246C25.1379 24.9123 25.2278 24.7787 25.2891 24.6314C25.3505 24.4842 25.3821 24.3262 25.3821 24.1667C25.3821 24.0072 25.3505 23.8493 25.2891 23.702C25.2278 23.5548 25.1379 23.4211 25.0246 23.3088L20.5417 18.838Z' fill='%233B3A39'/%3E%3C/svg%3E%0A");
          }
        }
        &.on {

        }
      }
    }
  }
  .right {
    width: 40%;
    margin-left: 5%;

    h1 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .selectMenu {
      margin-bottom: 20px;

      label {
        padding-left: 40px;
      }

      & > div {
        background-repeat: no-repeat;
        background-position: 15px center;
      }

      .cameraSelect {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 23 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1328 0H1.86719C0.835937 0 0 0.835938 0 1.86719V13.1328C0 14.1641 0.835937 15 1.86719 15H13.1328C14.1641 15 15 14.1641 15 13.1328V1.86719C15 0.835938 14.1641 0 13.1328 0ZM20.5312 1.47266L16.25 4.42578V10.5742L20.5312 13.5234C21.3594 14.0938 22.5 13.5117 22.5 12.5156V2.48047C22.5 1.48828 21.3633 0.902344 20.5312 1.47266Z' fill='black'/%3E%3C/svg%3E%0A");
      }
      .audioOutputSelect {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.01366 13.8947C9.93576 13.8947 11.4873 12.3432 11.4873 10.4211V3.47368C11.4873 1.55158 9.93576 0 8.01366 0C6.09155 0 4.53997 1.55158 4.53997 3.47368V10.4211C4.53997 12.3432 6.09155 13.8947 8.01366 13.8947ZM14.8568 10.4211C14.2894 10.4211 13.8147 10.8379 13.7221 11.4053C13.2473 14.1263 10.8737 16.2105 8.01366 16.2105C5.15366 16.2105 2.77997 14.1263 2.30524 11.4053C2.2126 10.8379 1.73787 10.4211 1.1705 10.4211C0.464183 10.4211 -0.0916069 11.0463 0.0126036 11.7411C0.579972 15.2147 3.35892 17.9358 6.85576 18.4337V20.8421C6.85576 21.4789 7.37681 22 8.01366 22C8.6505 22 9.17155 21.4789 9.17155 20.8421V18.4337C12.6684 17.9358 15.4473 15.2147 16.0147 11.7411C16.1305 11.0463 15.5631 10.4211 14.8568 10.4211Z' fill='black'/%3E%3C/svg%3E%0A");
      }
      .audioInputSelect {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.48108 0.055716C9.70593 0.150587 9.86334 0.352986 9.90373 0.588165L9.91394 0.70814V16.2872C9.91394 16.5725 9.74277 16.8299 9.47969 16.9403C9.2542 17.0348 8.99894 17.0055 8.80246 16.8693L8.70953 16.7924L4.56489 12.7206H2.12442C1.02016 12.7206 0.112668 11.878 0.00972517 10.8008L0 10.5962V6.36297C0 5.25871 0.842538 4.35121 1.91983 4.24827L2.12442 4.23855H4.56664L8.71169 0.200899C8.91564 0.00222299 9.21874 -0.0549664 9.48108 0.055716ZM13.7913 1.5001L13.9139 1.58337L14.0524 1.70315C14.1415 1.78321 14.2645 1.89919 14.41 2.05035C14.7008 2.35229 15.0841 2.7972 15.4665 3.37963C16.2318 4.54538 17 6.27319 17 8.50342C17 10.7338 16.2317 12.459 15.4659 13.6222C15.0833 14.2033 14.7 14.6469 14.4091 14.9479L14.209 15.1475L13.9445 15.3868L13.8978 15.4251C13.5912 15.668 13.1447 15.6172 12.9018 15.3107C12.6864 15.0388 12.7028 14.6575 12.9233 14.4054L13.1062 14.239C13.1722 14.1799 13.2706 14.0877 13.3908 13.9635C13.6314 13.7146 13.9567 13.3391 14.283 12.8435C14.9346 11.8534 15.5837 10.3948 15.5837 8.50342C15.5837 6.61186 14.9346 5.15021 14.2824 4.15691C14.0105 3.74267 13.7392 3.41183 13.5169 3.16832L13.2772 2.91866L13.0161 2.67873C12.7107 2.43504 12.6595 1.98918 12.903 1.68336C13.1195 1.4114 13.4955 1.34124 13.7913 1.5001ZM12.3762 4.33252L12.5172 4.43129L12.7065 4.60936L12.783 4.68957C12.9438 4.86297 13.1511 5.11697 13.3565 5.45471C13.7693 6.13385 14.1689 7.14427 14.1689 8.49563C14.1689 9.84695 13.7693 10.8584 13.3568 11.5386C13.1517 11.8768 12.9443 12.1314 12.7837 12.3052L12.6399 12.4529L12.5403 12.545L12.484 12.5927L12.3941 12.6335C12.2066 12.7086 11.7682 12.831 11.4888 12.4815C11.2729 12.2114 11.2868 11.8317 11.5043 11.5785L11.6947 11.3955L11.7435 11.3441C11.849 11.23 11.9964 11.0505 12.1458 10.8041C12.4427 10.3148 12.7526 9.55436 12.7526 8.49563C12.7526 7.43698 12.4427 6.67808 12.1463 6.19042C12.0342 6.00617 11.9233 5.85955 11.8305 5.74985L11.6956 5.60132L11.5986 5.50926C11.2945 5.26677 11.2445 4.82204 11.4878 4.51615C11.7042 4.2441 12.0802 4.17379 12.3762 4.33252Z' fill='%23212121'/%3E%3C/svg%3E%0A");
      }
    }

    button {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      background-repeat: no-repeat;
      background-position: calc(100% - 50% - 55px) center;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 23 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1328 0H1.86719C0.835937 0 0 0.835938 0 1.86719V13.1328C0 14.1641 0.835937 15 1.86719 15H13.1328C14.1641 15 15 14.1641 15 13.1328V1.86719C15 0.835938 14.1641 0 13.1328 0ZM20.5312 1.47266L16.25 4.42578V10.5742L20.5312 13.5234C21.3594 14.0938 22.5 13.5117 22.5 12.5156V2.48047C22.5 1.48828 21.3633 0.902344 20.5312 1.47266Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    .fieldGroup {
      margin: 10px 0;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}
